<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.insuranceteam.mapper.InsuranceListMapper">

    <resultMap id="BaseResultMap" type="cn.edu.guet.insuranceteam.bean.InsuranceList">
            <id property="insuranceId" column="insurance_id" jdbcType="INTEGER"/>
            <result property="prefecture" column="prefecture" jdbcType="VARCHAR"/>
            <result property="county" column="county" jdbcType="VARCHAR"/>
            <result property="caseName" column="case_name" jdbcType="VARCHAR"/>
            <result property="caseOccurrenceTime" column="case_occurrence_time" jdbcType="TIMESTAMP"/>
            <result property="networkHierarchy" column="network_hierarchy" jdbcType="VARCHAR"/>
            <result property="caseProgressSituation" column="case_progress_situation" jdbcType="VARCHAR"/>
            <result property="reportingReasons" column="reporting_reasons" jdbcType="VARCHAR"/>
            <result property="caseReporter" column="case_reporter" jdbcType="VARCHAR"/>
            <result property="maintenanceManager" column="maintenance_manager" jdbcType="VARCHAR"/>
            <result property="estimatedLossAmount" column="estimated_loss_amount" jdbcType="VARCHAR"/>
            <result property="compensationType" column="compensation_type" jdbcType="VARCHAR"/>
            <result property="caseCompletionConfirm" column="case_completion_confirm" jdbcType="VARCHAR"/>
            <result property="insuranceContentDescription" column="insurance_content_description" jdbcType="VARCHAR"/>
            <result property="compensationReceivedAmount" column="compensation_received_amount" jdbcType="VARCHAR"/>
            <result property="compensationReceivedTime" column="compensation_received_time" jdbcType="TIMESTAMP"/>
            <result property="compensationSituationRemark" column="compensation_situation_remark" jdbcType="VARCHAR"/>
            <result property="icLedgerRegistrationName" column="IC_ledger_registration_name" jdbcType="VARCHAR"/>
            <result property="icInsuranceReportNo" column="IC_insurance_report_no" jdbcType="VARCHAR"/>
            <result property="icEstimatedReparationAmount" column="IC_estimated_reparation_amount" jdbcType="VARCHAR"/>
            <result property="compensationProgress" column="compensation_progress" jdbcType="VARCHAR"/>
            <result property="insuranceRemarks" column="insurance_remarks" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        insurance_id,prefecture,county,
        case_name,case_occurrence_time,network_hierarchy,
        case_progress_situation,reporting_reasons,case_reporter,
        maintenance_manager,estimated_loss_amount,compensation_type,
        case_completion_confirm,insurance_content_description,compensation_received_amount,
        compensation_received_time,compensation_situation_remark,IC_ledger_registration_name,
        IC_insurance_report_no,IC_estimated_reparation_amount,compensation_progress,
        insurance_remarks,create_time,update_time
    </sql>
</mapper>
